<%-include('header.ejs') %>
<div class="container">
    <h3>Name: <%=details.name%></h3>
    <h3>Email: <%=details.email%></h3>
    <h3>Profile Type: <%=details.profileType%></h3>
    <h3>Work Experience-> has worked as: <%=details.worked_as%></h3>
    <h3>Worked for: <%=details.worked_for%></h3>
    <h3>Worked Till: <%=details.worked_till%></h3>
    <h3>CGPA: <%=details.cgpa%></h3>
    <h3>Degree: <%=details.degree%></h3>
    <h3>Major: <%=details.major%></h3>
    <h3>University: <%=details.university%></h3>
    <h3>Batch: <%=details.batch%></h3>
</div>

