<%-include('header.ejs') %>
<div class="container">
    <h1>My recruiter Profile</h1>
    <h3>Name: <%=name%></h3>
    <h3>Email: <%=email%></h3>
    <h3>Profile Type: <%=profile%></h3>
    <h3>Job Description: <%=job%></h3>
    <h3>Image url: <%=image_url%></h3>
    <h3>Business stream: <%=stream%></h3>
    <h3>Company Website: <%=website%></h3>
</div>

